.header 
	.header-name
		買い物リスト

.main
	.left-side

	.main-list
		.product
			- @shoppings.each do |shopping| 
				.product-list
					.product-name
						= shopping.name
					.note
						= shopping.note 
					.date-addend
						= shopping.created_at.strftime("%Y年%m月%d日 %H時%M分")
					= form_with model:shopping, method: :delete, local: true do |f|
						= f.submit '削除',class: 'delete-button'
						
	.right-side

.footer
	= form_with model: [@shopping], html: {class: "form"}, local: true do |f|
		= f.text_field :name, class: 'product-name', 'placeholder': '商品名'
		= f.text_field :note, class: 'product-note', 'placeholder': 'メモ'
		= f.submit '追加', class: 'product-button'